  
<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Feedings'}); %>

<body>
  <% include ../partials/navbar %>

  <div class="container">
    <form action="/feedings/create" method="POST" class="col-12">
      <h1>Create Feeding</h1>
      
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" required class="form-control" id="date" placeholder="Enter date" name="date">
      </div>

      <div class="form-group">
        <label for="animalId">Animal</label>
        <select required class="form-control" name="animalId">
            <option></option>
            <% for(var i=0; i<animals.length; i++) { %>
                <option value="<%=animals[i]._id%>">
                    <%=animals[i].species%> - <%=animals[i].nickName%>
                </option>
            <% } %>
        </select>
      </div>

      <div class="form-group">
        <label for="food">Food</label>
        <select required class="form-control" name="food">
            <option></option>
            <% for(var i=0; i<foods.length; i++) { %>
                <option value="<%=foods[i].name%>">
                    <%=foods[i].name%>
                </option>
            <% } %>
        </select>
      </div>

      <div class="form-group">
        <label for="medicine">Medicine (Optional)</label>
        <select class="form-control" name="medicine">
            <option></option>
            <% for(var i=0; i<medicines.length; i++) { %>
                <option value="<%=medicines[i].name%>">
                    <%=medicines[i].name%>
                </option>
            <% } %>
        </select>
      </div>
      
      <div class="form-group">
        <label for="goalWeightOfAnimal">Goal Weight (grams)</label>
        <input type="number" required class="form-control" id="goalWeightOfAnimal" placeholder="Enter goal weight" name="goalWeightOfAnimal">
      </div>

      <div class="form-group">
        <label for="actualWeightOfAnimal">Actual Weight (grams)</label>
        <input type="number" required class="form-control" id="actualWeightOfAnimal" placeholder="Enter actual weight" name="actualWeightOfAnimal">
      </div>

      <div class="form-group">
        <label for="amountOfFood">Amount Fed (grams)</label>
        <input type="number" required class="form-control" id="amountOfFood" placeholder="Enter amount fed" name="amountOfFood">
      </div>

      <div class="form-group">
        <label for="leftoverFood">Leftover Food (grams)</label>
        <input type="number" required class="form-control" id="leftoverFood" placeholder="Enter leftover food" name="leftoverFood">
      </div>

      <div class="form-group">
        <label for="weatherConditions">Weather Conditions</label>
        <select class="form-control" name="weatherConditions">
            <option></option>
            <option>Sunny - Cold</option>
            <option>Cloudy - Cold</option>
            <option>Precipitation - Cold</option>
            <option>Sunny - Mild</option>
            <option>Cloudy - Mild</option>
            <option>Precipitation - Mild</option>
            <option>Sunny - Hot</option>
            <option>Cloudy - Hot</option>
            <option>Precipitation - Hot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments" name="comments"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <% include ../partials/scripts %>
</body>

</html>
